.custom-popover.JinniPopover {
  .JinniPopoverContent.JinniBox {
    position: relative;
    border: 1px solid var(--jinni-color-outline-variant);
    background-color: var(--jinni-color-surface-container-high);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 20%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 10px;
      height: 10px;
      background-color: white;
      border: 1px solid var(--jinni-color-outline-variant);
      border-bottom: none;
      border-right: none;
      background-color: var(--jinni-color-surface-container-high);
    }
  }
}
