@use '@/styles/variables' as var;

.JinniAccordion {
  .JinniAccordionItem {
    border-bottom: 1px solid var(--jinni-color-gray-300);

    .JinniAccordionHeader {
      margin: 0;

      .JinniAccordionSummary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 8px;
        padding: 16px 8px;
        width: 100%;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        &:disabled {
          cursor: default;
          text-decoration: none;
          svg path {
            fill: var(--jinni-color-gray-300);
          }
        }

        &Content {
          flex: 1;
          text-align: left;
          font-size: 16px;
          font-weight: var.$font-weight-medium;
        }

        &ExpandIcon {
          display: flex;
          justify-content: center;
          align-items: center;
          transition: transform var(--jinni-duration-short2)
            var(--jinni-easing-emphasized);

          &.isExpanded {
            transform: rotate(180deg);
          }
        }
      }
    }

    .JinniAccordionDetails {
      padding: 0 8px 16px;
      font-size: 14px;
      font-weight: var.$font-weight-regular;
    }
  }
}
