.JinniTextArea {
  resize: none;
  &.resize {
    &.both {
      resize: both;
    }
    &.horizontal {
      resize: horizontal;
    }
    &.vertical {
      resize: vertical;
    }
  }

  textarea {
    resize: inherit;
  }
}
