@mixin variant {
  &.outlined {
    border: 1px solid var(--jinni-color-gray-400);
  }
  &.filled {
    background-color: var(--jinni-color-gray-200);
  }
  &.underlined {
    border-bottom: 1px solid var(--jinni-color-gray-400);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &.borderless {
    border: none;
  }
}

@mixin hover-effect {
  &:not(.disableHoverEffect):hover {
    &.outlined,
    &.underlined {
      border-color: var(--jinni-color-gray-500);
    }
    &.filled,
    &.borderless {
      background-image: var(--jinni-black-overlay-1);
    }
  }
}

@mixin focus-effect {
  &:not(.disableFocusEffect):focus-within,
  &:not(.disableFocusEffect).focused {
    &.outlined {
      border-color: var(--focused-border-color);
      box-shadow: var(--focused-border-color) 0 0 0 1px;
    }
    &.underlined {
      border-color: var(--focused-border-color);
      box-shadow: 0 1px 0 0 var(--focused-border-color);
    }
    &.filled,
    &.borderless {
      background-image: linear-gradient(
        var(--focused-overlay-color),
        var(--focused-overlay-color)
      );
    }
  }
}

@mixin size {
  &.sm {
    min-height: 22px;
    .JinniInputBaseContent {
      padding: 3px 12px;
      font-size: 14px;
    }
    .JinniInputBaseAdornment {
      padding: 3px 6px;
    }
  }
  &.md {
    min-height: 28px;
    .JinniInputBaseContent {
      padding: 5px 14px;
      font-size: 16px;
    }
    .JinniInputBaseAdornment {
      padding: 5px 7px;
    }
  }
  &.lg {
    min-height: 34px;
    .JinniInputBaseContent {
      padding: 7px 16px;
      font-size: 18px;
    }
    .JinniInputBaseAdornment {
      padding: 7px 8px;
    }
  }
}

.JinniInputBase {
  display: inline-flex;
  flex-direction: row;
  min-width: 200px;
  width: max-content;
  height: max-content;
  box-sizing: border-box;
  border-radius: 4px;
  line-height: 1;
  transition:
    border-color var(--jinni-duration-short4) var(--jinni-easing-emphasized),
    background-image var(--jinni-duration-short4) var(--jinni-easing-emphasized);
  &.disabled {
    opacity: 0.5;
  }
  &.fullWidth {
    width: 100%;
  }
  @include variant;
  @include size;
  @include hover-effect;
  @include focus-effect;

  .JinniInputBaseContent {
    display: inline-flex;
    flex: 1;
    box-sizing: border-box;
    color: var(--jinni-color-gray-900);
    input,
    textarea {
      display: inline-block;
      padding: 0;
      width: 100%;
      min-height: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      box-sizing: border-box;
      font-size: inherit;
      color: inherit;
    }
  }

  .JinniInputBaseAdornment {
    display: inline-flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    &.start {
      padding-right: 0;
    }
    &.end {
      padding-left: 0;
    }
  }
}
