@mixin size {
  &.sm {
    gap: 4px;
    font-size: 12px;
  }
  &.md {
    gap: 5px;
    font-size: 14px;
  }
  &.lg {
    gap: 6px;
    font-size: 16px;
  }
}

@mixin orientation {
  &.horizontal {
    flex-direction: row;
  }
  &.vertical {
    flex-direction: column;
  }
}

.JinniFraction {
  display: inline-flex;
  align-items: center;
  max-width: max-content;
  max-height: max-content;
  @include size;
  @include orientation;
}
