@mixin spin-button-style-by-size {
  &.sm {
    padding: 0 2px;
    svg {
      width: 16px;
      height: 16px;
    }
  }
  &.md {
    padding: 0 5px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  &.lg {
    padding: 0 8px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
}
