@use '@/styles/animation';

@mixin move-animation($animation-name) {
  animation: $animation-name var(--speed) ease-in-out infinite;
}

@mixin linecap {
  &.round {
    border-radius: 10px;
  }
}

.JinniLinearProgress {
  position: relative;
  overflow: hidden;
  @include linecap;

  &.horizontal {
    width: auto;
    height: var(--thickness);
  }
  &.vertical {
    width: var(--thickness);
    height: 100%;
  }

  .JinniLinearProgress-track {
    width: 100%;
    height: 100%;
    background-color: var(--track-color);
    border-radius: inherit;
  }

  .JinniLinearProgress-progress {
    position: absolute;
    left: 0;
    background-color: var(--progress-color);
    border-radius: inherit;

    &.horizontal {
      top: 0;
      height: 100%;
      &.indeterminate {
        width: 50%;
        @include move-animation(move-left-to-right);
      }
      &.determinate {
        width: var(--value);
        transition: width 0.2s linear;
      }
    }
    &.vertical {
      bottom: 0;
      width: 100%;
      &.indeterminate {
        height: 50%;
        @include move-animation(move-bottom-to-top);
      }
      &.determinate {
        height: var(--value);
        transition: height 0.2s linear;
      }
    }
  }
}
