@use '@/styles/animation';
@use '@/styles/variables' as var;

@mixin indeterminate {
  &.indeterminate .trail .progress {
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: var(--speed);
  }
}

@mixin determinate {
  &.determinate .trail .progress {
    transition: width 0.2s linear;
  }
}

@mixin linecap {
  &.round .trail,
  &.round .trail .progress {
    border-radius: 10px;
  }
}

@mixin orientation {
  &.horizontal {
    flex-direction: row;
    column-gap: 10px;
    width: 100%;
    .trail {
      height: var(--thickness);
    }
    .progress {
      top: 0;
      left: 0;
      width: var(--percent);
      height: var(--thickness);
      animation-name: move-left-to-right;
    }
  }
  &.vertical {
    flex-direction: column-reverse;
    row-gap: 10px;
    height: 100%;
    .trail {
      width: var(--thickness);
    }
    .progress {
      bottom: 0;
      left: 0;
      width: var(--thickness);
      height: var(--percent);
      animation-name: move-bottom-to-top;
    }
  }
}

.JinniLinearProgress {
  display: flex;
  align-items: center;

  .trail {
    flex: 1;
    position: relative;
    overflow: hidden;
    background-color: var(--trail-color);

    .progress {
      position: absolute;
      background-color: var(--progress-color);
    }
  }

  .label {
    font-size: var(--font-size);
    font-weight: var.$font-weight-medium;
  }

  @include indeterminate;
  @include determinate;
  @include linecap;
  @include orientation;
}
