@use '@/styles/variables' as var;

.JinniDayCalendar {
  justify-items: center;
  padding: 0 19px;
  width: 320px;
  overflow-y: auto;
  box-sizing: border-box;

  .JinniWeekDayContainer {
    margin-bottom: 5px;
    .JinniWeekDay {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 40px;
      font-weight: var.$font-weight-medium;
    }
  }
}
