@use '@/styles/animation';

@mixin variants {
  &.rectangular {
    border-radius: 0;
  }
  &.rounded {
    border-radius: 4px;
  }
  &.circular {
    border-radius: 9999px;
  }
}

@mixin animation {
  &.pulse {
    animation: pulse 2s infinite;
  }
  &.wave {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      animation: move-left-to-right 2s infinite;
    }
  }
  &.none {
    animation: none;
  }
}

@mixin background-color-by-theme {
  &.light-theme {
    background-color: rgba(0, 0, 0, 0.1);
    &::after {
      background: linear-gradient(
        90deg,
        transparent,
        rgba(0, 0, 0, 0.1),
        transparent
      );
    }
  }
  &.dark-theme {
    background-color: rgba(255, 255, 255, 0.2);
    &::after {
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.2),
        transparent
      );
    }
  }
}

.JinniSkeleton {
  display: inline-block;
  position: relative;
  width: var(--width);
  height: var(--height);
  overflow: hidden;
  & > * {
    visibility: hidden;
  }

  @include variants;
  @include animation;
  @include background-color-by-theme;
}
