@use '@/styles/mixins' as mixins;

.JinniSelect.JinniInputBase {
  min-width: 120px;
  max-width: 300px;
  &:not(.disabled):hover {
    cursor: pointer;
  }
  &.placeholder {
    color: var(--jinni-color-gray-500);
  }

  .JinniInputBaseContent {
    position: relative;
    color: inherit;
    @include mixins.line-clamp(1);

    select {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none;
    }
  }

  &.open {
    .JinniInputBaseAdornment.end {
      svg.arrow-down {
        rotate: 180deg;
      }
    }
  }
}

.JinniSelectMenu {
  margin-top: 1px;
  min-width: 120px;

  .JinniMenuList {
    width: 100%;
  }
}
