@use '@/styles/variables' as var;

.JinniToastContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;
  padding: 6px 16px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: var(--jinni-box-shadow-3);
  background-color: var(--jinni-color-inverse-surface);
  color: var(--jinni-color-inverse-on-surface);
  font-size: 14px;
  font-weight: var.$font-weight-medium;

  .JinniToastContentMessage {
    flex: 1;
    padding: 6px 0;
  }

  .JinniToastContentAction {
    display: flex;
    align-items: center;
    margin-right: -8px;
  }
}
