$padding: 16px;

@mixin toast-width {
  width: 100%;
  @media (min-width: 600px) {
    width: auto;
    min-width: calc(300px + $padding * 2);
  }
}

@mixin position {
  &.left {
    left: 0;
  }
  &.center {
    left: 50%;
    transform: translateX(-50%);
  }
  &.right {
    right: 0;
  }
  &.top {
    top: 0;
  }
  &.bottom {
    bottom: 0;
  }
}

.JinniToast {
  position: fixed;
  padding: $padding;
  box-sizing: border-box;
  z-index: var(--jinni-z-index-toast);
  @include toast-width;
  @include position;

  .JinniToastContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
    padding: 6px 16px;
    box-sizing: border-box;
    background-color: var(--jinni-color-inverse-surface);
    color: var(--jinni-color-inverse-on-surface);
    font-size: 14px;
    font-weight: var(--jinni-font-weight-medium);

    .JinniToastContentMessage {
      flex: 1;
      padding: 6px 0;
    }

    .JinniToastContentAction {
      display: inline-flex;
      align-items: center;
      margin-right: -8px;
    }
  }
}
