@use 'sass:map';
@use '@/styles/variables' as var;

$chip-height: (
  sm: 20px,
  md: 26px,
  lg: 32px
);

$label-font-size: (
  sm: 12px,
  md: 14px,
  lg: 16px
);

$label-margin: (
  sm: 8px,
  md: 10px,
  lg: 12px
);

$adornment-size: (
  sm: 14px,
  md: 16px,
  lg: 18px
);

$adornment-margin: (
  sm: 4px,
  md: 5px,
  lg: 6px
);

@mixin chip-style-by-size {
  @each $size in 'sm', 'md', 'lg' {
    &.#{$size} {
      height: map.get($chip-height, $size);

      .JinniChipLabel {
        margin-left: map.get($label-margin, $size);
        margin-right: map.get($label-margin, $size);
        font-size: map.get($label-font-size, $size);
      }

      .JinniChipAdornment {
        width: map.get($adornment-size, $size);
        height: map.get($adornment-size, $size);
        &.start {
          margin-left: map.get($adornment-margin, $size);
          margin-right: - map.get($adornment-margin, $size);
        }
        &.end {
          margin-left: - map.get($adornment-margin, $size);
          margin-right: map.get($adornment-margin, $size);
        }
      }
    }
  }
}

@mixin chip-shape {
  &.pill {
    border-radius: 9999px;
  }
  &.rounded {
    border-radius: 4px;
  }
}

.JinniChip,
.JinniChip.JinniButtonBase {
  display: inline-flex;
  align-items: center;
  border: 1px solid;
  box-sizing: border-box;
  user-select: none;
  color: var(--text-color);
  background-color: var(--background-color);
  border-color: var(--border-color);
  @include chip-style-by-size;
  @include chip-shape;

  .JinniChipLabel {
    display: inline-flex;
    font-weight: var.$font-weight-medium;
  }

  .JinniChipAdornment {
    display: inline-flex;

    & > svg,
    .JinniAvatar,
    .JinniCircularProgress {
      width: 100%;
      height: 100%;
    }
  }
}
