@use '@/styles/mixins' as mix;

@mixin underline {
  &.always {
    text-decoration: underline;
  }
  &.hover {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &.none {
    text-decoration: none;
  }
}

.JinniLink {
  color: inherit;
  &:active {
    color: inherit;
  }
  &.lineClamp {
    @include mix.line-clamp(var(--line-clamp));
  }
  @include underline;
}
