@mixin line-clamp {
  &.lineClamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp);
  }
}

@mixin underline {
  &.always {
    text-decoration: underline;
  }
  &.hover {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &.none {
    text-decoration: none;
  }
}

.JinniLink {
  color: inherit;

  &:active {
    color: inherit;
  }

  @include line-clamp;
  @include underline;
}
