@mixin placement {
  &.left {
    flex-direction: row;
    justify-content: start;
  }
  &.right {
    flex-direction: row;
    justify-content: end;
  }
  &.top {
    flex-direction: column;
    justify-content: start;
  }
  &.bottom {
    flex-direction: column;
    justify-content: end;
  }
}

.JinniDrawer {
  display: flex;
  width: 100%;
  height: 100%;
  @include placement;

  .JinniDrawerContent {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 250px;
    min-height: 250px;
    background-color: white;

    .JinniDrawerHeader {
      padding: 16px 24px;
      font-size: 20px;
      font-weight: var(--jinni-font-weight-medium);
    }

    .JinniDrawerBody {
      flex: 1;
      padding: 20px 24px;
      font-size: 16px;
      font-weight: var(--jinni-font-weight-regular);
    }

    .JinniDrawerHeader + .JinniDrawerBody {
      padding-top: 0px;
    }

    .JinniDrawerFooter {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 10px;
      padding: 8px;
    }
  }
}
