@use '../mixins.scss' as mixins;

.JinniMosaic.JinniColorBoxAlphaSlider {
  width: 100%;
  height: 10px;
  background-size: 3% 50%;
  border-radius: 9999px;

  .JinniSlider {
    padding: 0;
    margin: 0;
    width: inherit;
    height: inherit;

    .JinniSliderRail {
      width: inherit;
      opacity: 1;
      background: linear-gradient(to right, transparent, var(--rgb));
    }

    .JinniSliderTrack {
      display: none;
    }

    .JinniSliderThumb {
      background-color: var(--rgba);
      @include mixins.thumb-style;
    }
  }
}
