@mixin getColorStyle($variant, $status) {
  @if ($variant == 'subtle-filled') {
    background-color: var(--jinni-color-#{$status}-container);
    color: var(--jinni-color-on-#{$status}-container);
    fill: var(--jinni-color-on-#{$status}-container);
    border: 1px solid var(--jinni-color-#{$status}-container);
  }
  @if ($variant == 'filled') {
    background-color: var(--jinni-color-#{$status});
    color: var(--jinni-color-on-#{$status});
    fill: var(--jinni-color-on-#{$status});
    border: 1px solid var(--jinni-color-#{$status});
  }
  @if ($variant == 'outlined') {
    background-color: transparent;
    color: var(--jinni-color-on-#{$status}-container);
    fill: var(--jinni-color-on-#{$status}-container);
    border: 1px solid var(--jinni-color-#{$status});
  }
}

@mixin color {
  @each $status in 'success', 'info', 'warning', 'error' {
    @each $variant in 'subtle-filled', 'filled', 'outlined' {
      &.#{$status}.#{$variant} {
        @include getColorStyle($variant, $status);
      }
    }
  }
}

.JinniAlert {
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
  padding: 14px 16px;
  border-radius: 4px;
  font-weight: var(--jinni-font-weight-regular);
  box-sizing: border-box;
  &:not(.hasTitle) {
    align-items: center;
  }
  &.hasTitle {
    align-items: start;
  }
  @include color;

  .JinniAlertIcon {
    display: inline-flex;
    align-items: center;
    svg,
    svg path {
      fill: inherit;
    }
  }

  .JinniAlertMessage {
    flex: 1;
    .JinniAlertMessageTitle {
      margin-bottom: 5px;
      font-weight: var(--jinni-font-weight-semi-bold);
    }
  }

  .JinniAlertAction {
    display: inline-flex;
    align-items: center;
    margin-right: -8px;
  }
}
