$scrollbar-width: 15px;
$dash-border-width: 2px;

@mixin left-rounded {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

@mixin right-rounded {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.JinniMonthRangeCalendar {
  width: 300px;

  .JinniBox.GridItem {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    box-sizing: border-box;

    .JinniBox.MonthContainer {
      position: relative;
      display: inline-flex;
      justify-content: center;
      width: inherit;
      box-sizing: border-box;
      border-radius: inherit;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: inherit;
      }
      &.showDashBorder::before {
        border: $dash-border-width dashed var(--jinni-color-gray-300);
      }
      &.dimmedBackground {
        background-color: var(--dim-color);
      }

      .JinniMonth {
        width: inherit;
      }
    }

    &:nth-child(3n + 1) {
      @include left-rounded;
      .JinniBox.MonthContainer::before {
        border-right-width: 0;
      }
    }
    &:nth-child(3n + 2) {
      .JinniBox.MonthContainer::before {
        border-left-width: 0;
        border-right-width: 0;
      }
    }
    &:nth-child(3n + 3) {
      @include right-rounded;
      .JinniBox.MonthContainer::before {
        border-left-width: 0;
      }
    }
    &:last-child {
      @include right-rounded;
    }
    &.startDate {
      @include left-rounded;
    }
    &.endDate {
      @include right-rounded;
    }
    &.lastDashBorder {
      @include right-rounded;
      .JinniBox.MonthContainer::before {
        border-right-width: $dash-border-width;
      }
    }
  }
}
