@mixin dense {
  &.dense {
    padding: 4px 16px;
    font-size: 14px;
  }
}

@mixin selected {
  &.selected {
    background-color: var(--jinni-color-primary-container);
  }
}

@mixin focus {
  &:focus-visible {
    outline: none;
    background-image: var(--jinni-black-overlay-5);
  }
}

.JinniMenuItem {
  display: inline-flex;
  list-style: none;

  .JinniMenuItemButton {
    display: inline-flex;
    align-items: center;
    padding: 6px 16px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: inherit;
    text-decoration: none;
    @include dense;
    @include selected;
    @include focus;
  }
}
