.JinniCard {
  display: inline-flex;
  flex-direction: column;
  color: var(--jinni-color-on-surface);
  background-color: var(--jinni-color-surface-container-lowest);

  .JinniCardHeader {
    padding: 16px;
  }

  .JinniCardBody {
    padding: 16px;
  }

  .JinniCardFooter {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 8px;
    padding: 8px;
  }
}
