@mixin orientation {
  &.horizontal {
    flex-direction: row;
  }
  &.vertical {
    flex-direction: column;
  }
}

.JinniCarouselContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .JinniCarouselContent {
    position: relative;
    display: inline-flex;
    gap: var(--spacing);
    width: 100%;
    height: 100%;
    @include orientation;

    &::before,
    &::after {
      content: '';
      display: block;
      flex: 0 0 100%;
    }
  }
}
