.JinniTreeItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px 4px calc(8px + var(--layer) * 12px);
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-image: var(--jinni-black-overlay-1);
  }
  &:focus {
    outline: none;
    background-image: var(--jinni-black-overlay-5);
  }
  &.selected {
    background-color: var(--selected-color);
  }
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: none;
  }
}
