.JinniPopover {
  .JinniMotion {
    transform-origin: var(--transform-origin);
    .JinniPopoverContent {
      padding: 16px;
      background-color: white;
      &:focus {
        outline: none;
      }
    }
  }
}
