.JinniBreadcrumbs {
  ol {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: inline-flex;
      align-items: center;
      font-size: inherit;
      font-weight: inherit;

      &.JinniBreadcrumbSeparator {
        margin: 0 8px;
      }
    }
  }
}
