$item-size: (
  sm: 26px,
  md: 32px,
  lg: 38px
);

@mixin action-size {
  @each $size in sm, md, lg {
    &.#{$size} {
      width: map-get($map: $item-size, $key: $size);
      height: map-get($map: $item-size, $key: $size);
    }
  }
}

@mixin scale-transition-by-open-state {
  visibility: hidden;
  transform: scale(0);
  transition:
    visibility var(--jinni-duration-short3) var(--jinni-easing-emphasized),
    transform var(--jinni-duration-short3) var(--jinni-easing-emphasized);
  &.open {
    visibility: visible;
    transform: scale(1);
  }
}

.JinniLinearSpeedDialActionWrapper {
  display: inline-block;
  pointer-events: none;
  &.open {
    pointer-events: auto;
  }
  @include action-size;

  button.JinniLinearSpeedDialAction.JinniButtonBase.JinniButton,
  a.JinniLinearSpeedDialAction.JinniButtonBase.JinniButton {
    padding: 0;
    @include action-size;
    @include scale-transition-by-open-state;
  }
}
