.JinniButtonBase.complex-button {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;

  .image {
    position: absolute;
    z-index: -1;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .title {
    position: relative;
    color: white;
    font-size: 16px;
    font-weight: 700;

    &::after {
      content: '';
      position: absolute;
      top: calc(100% + 10px);
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      height: 3px;
      background-color: white;
      transition: width var(--jinni-duration-short2);
    }
  }

  &:hover .title::after {
    width: 100%;
  }
}
