$ellipsis-size: (
  sm: 26px,
  md: 32px,
  lg: 38px
);

$ellipsis-font-size: (
  sm: 13px,
  md: 15px,
  lg: 17px
);

@mixin pagination-ellipsis-size {
  @each $size in sm, md, lg {
    &.#{$size} {
      width: map-get($map: $ellipsis-size, $key: $size);
      height: map-get($map: $ellipsis-size, $key: $size);
      font-size: map-get($map: $ellipsis-font-size, $key: $size);
    }
  }
}

@mixin pagination-gap {
  &.sm {
    column-gap: 4px;
  }
  &.md {
    column-gap: 6px;
  }
  &.lg {
    column-gap: 8px;
  }
}

.JinniPagination {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  @include pagination-gap;

  .JinniPaginationEllipsis {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--jinni-color-gray-500);
    @include pagination-ellipsis-size;
  }
}
