// Color Theme
:root {
  &.light {
    &.standard-contrast {
      --jinni-color-primary: rgb(45 98 139);
      --jinni-color-surface-tint: rgb(45 98 139);
      --jinni-color-on-primary: rgb(255 255 255);
      --jinni-color-primary-container: rgb(205 229 255);
      --jinni-color-on-primary-container: rgb(0 29 50);
      --jinni-color-secondary: rgb(101 85 143);
      --jinni-color-on-secondary: rgb(255 255 255);
      --jinni-color-secondary-container: rgb(233 221 255);
      --jinni-color-on-secondary-container: rgb(33 15 71);
      --jinni-color-tertiary: rgb(139 74 97);
      --jinni-color-on-tertiary: rgb(255 255 255);
      --jinni-color-tertiary-container: rgb(255 217 227);
      --jinni-color-on-tertiary-container: rgb(58 7 30);
      --jinni-color-error: rgb(186 26 26);
      --jinni-color-on-error: rgb(255 255 255);
      --jinni-color-error-container: rgb(255 218 214);
      --jinni-color-on-error-container: rgb(65 0 2);
      --jinni-color-background: rgb(247 249 255);
      --jinni-color-on-background: rgb(24 28 32);
      --jinni-color-surface: rgb(254 247 255);
      --jinni-color-on-surface: rgb(29 27 32);
      --jinni-color-surface-variant: rgb(231 224 235);
      --jinni-color-on-surface-variant: rgb(73 69 78);
      --jinni-color-outline: rgb(122 117 127);
      --jinni-color-outline-variant: rgb(202 196 207);
      --jinni-color-shadow: rgb(0 0 0);
      --jinni-color-scrim: rgb(0 0 0);
      --jinni-color-inverse-surface: rgb(50 47 53);
      --jinni-color-inverse-on-surface: rgb(245 239 247);
      --jinni-color-inverse-primary: rgb(154 203 250);
      --jinni-color-primary-fixed: rgb(205 229 255);
      --jinni-color-on-primary-fixed: rgb(0 29 50);
      --jinni-color-primary-fixed-dim: rgb(154 203 250);
      --jinni-color-on-primary-fixed-variant: rgb(10 74 114);
      --jinni-color-secondary-fixed: rgb(233 221 255);
      --jinni-color-on-secondary-fixed: rgb(33 15 71);
      --jinni-color-secondary-fixed-dim: rgb(208 188 254);
      --jinni-color-on-secondary-fixed-variant: rgb(77 61 117);
      --jinni-color-tertiary-fixed: rgb(255 217 227);
      --jinni-color-on-tertiary-fixed: rgb(58 7 30);
      --jinni-color-tertiary-fixed-dim: rgb(255 176 201);
      --jinni-color-on-tertiary-fixed-variant: rgb(111 51 73);
      --jinni-color-surface-dim: rgb(222 216 224);
      --jinni-color-surface-bright: rgb(254 247 255);
      --jinni-color-surface-container-lowest: rgb(255 255 255);
      --jinni-color-surface-container-low: rgb(248 241 250);
      --jinni-color-surface-container: rgb(242 236 244);
      --jinni-color-surface-container-high: rgb(236 230 238);
      --jinni-color-surface-container-highest: rgb(231 224 232);
      --jinni-color-success: rgb(77 124 15);
      --jinni-color-on-success: rgb(255 255 255);
      --jinni-color-info: rgb(3 105 161);
      --jinni-color-on-info: rgb(255 255 255);
      --jinni-color-warning: rgb(180 83 9);
      --jinni-color-on-warning: rgb(255 255 255);
      --jinni-color-success-container: rgb(236 252 203);
      --jinni-color-on-success-container: rgb(63 98 18);
      --jinni-color-info-container: rgb(224 242 254);
      --jinni-color-on-info-container: rgb(7 89 133);
      --jinni-color-warning-container: rgb(254 243 199);
      --jinni-color-on-warning-container: rgb(146 64 14);
    }
    &.medium-contrast {
      --jinni-color-primary: rgb(1 70 110);
      --jinni-color-surface-tint: rgb(45 98 139);
      --jinni-color-on-primary: rgb(255 255 255);
      --jinni-color-primary-container: rgb(70 121 163);
      --jinni-color-on-primary-container: rgb(255 255 255);
      --jinni-color-secondary: rgb(73 57 113);
      --jinni-color-on-secondary: rgb(255 255 255);
      --jinni-color-secondary-container: rgb(124 107 166);
      --jinni-color-on-secondary-container: rgb(255 255 255);
      --jinni-color-tertiary: rgb(107 47 69);
      --jinni-color-on-tertiary: rgb(255 255 255);
      --jinni-color-tertiary-container: rgb(165 95 119);
      --jinni-color-on-tertiary-container: rgb(255 255 255);
      --jinni-color-error: rgb(140 0 9);
      --jinni-color-on-error: rgb(255 255 255);
      --jinni-color-error-container: rgb(218 52 46);
      --jinni-color-on-error-container: rgb(255 255 255);
      --jinni-color-background: rgb(247 249 255);
      --jinni-color-on-background: rgb(24 28 32);
      --jinni-color-surface: rgb(254 247 255);
      --jinni-color-on-surface: rgb(29 27 32);
      --jinni-color-surface-variant: rgb(231 224 235);
      --jinni-color-on-surface-variant: rgb(69 65 74);
      --jinni-color-outline: rgb(97 93 103);
      --jinni-color-outline-variant: rgb(125 121 131);
      --jinni-color-shadow: rgb(0 0 0);
      --jinni-color-scrim: rgb(0 0 0);
      --jinni-color-inverse-surface: rgb(50 47 53);
      --jinni-color-inverse-on-surface: rgb(245 239 247);
      --jinni-color-inverse-primary: rgb(154 203 250);
      --jinni-color-primary-fixed: rgb(70 121 163);
      --jinni-color-on-primary-fixed: rgb(255 255 255);
      --jinni-color-primary-fixed-dim: rgb(42 96 137);
      --jinni-color-on-primary-fixed-variant: rgb(255 255 255);
      --jinni-color-secondary-fixed: rgb(124 107 166);
      --jinni-color-on-secondary-fixed: rgb(255 255 255);
      --jinni-color-secondary-fixed-dim: rgb(99 83 140);
      --jinni-color-on-secondary-fixed-variant: rgb(255 255 255);
      --jinni-color-tertiary-fixed: rgb(165 95 119);
      --jinni-color-on-tertiary-fixed: rgb(255 255 255);
      --jinni-color-tertiary-fixed-dim: rgb(137 71 94);
      --jinni-color-on-tertiary-fixed-variant: rgb(255 255 255);
      --jinni-color-surface-dim: rgb(222 216 224);
      --jinni-color-surface-bright: rgb(254 247 255);
      --jinni-color-surface-container-lowest: rgb(255 255 255);
      --jinni-color-surface-container-low: rgb(248 241 250);
      --jinni-color-surface-container: rgb(242 236 244);
      --jinni-color-surface-container-high: rgb(236 230 238);
      --jinni-color-surface-container-highest: rgb(231 224 232);
      --jinni-color-success: rgb(63 98 18);
      --jinni-color-on-success: rgb(255 255 255);
      --jinni-color-info: rgb(7 89 133);
      --jinni-color-on-info: rgb(255 255 255);
      --jinni-color-warning: rgb(146 64 14);
      --jinni-color-on-warning: rgb(255 255 255);
      --jinni-color-success-container: rgb(217 249 157);
      --jinni-color-on-success-container: rgb(54 83 20);
      --jinni-color-info-container: rgb(186 230 253);
      --jinni-color-on-info-container: rgb(12 74 110);
      --jinni-color-warning-container: rgb(253 230 138);
      --jinni-color-on-warning-container: rgb(120 53 15);
    }
    &.high-contrast {
      --jinni-color-primary: rgb(0 36 60);
      --jinni-color-surface-tint: rgb(45 98 139);
      --jinni-color-on-primary: rgb(255 255 255);
      --jinni-color-primary-container: rgb(1 70 110);
      --jinni-color-on-primary-container: rgb(255 255 255);
      --jinni-color-secondary: rgb(40 23 78);
      --jinni-color-on-secondary: rgb(255 255 255);
      --jinni-color-secondary-container: rgb(73 57 113);
      --jinni-color-on-secondary-container: rgb(255 255 255);
      --jinni-color-tertiary: rgb(66 14 36);
      --jinni-color-on-tertiary: rgb(255 255 255);
      --jinni-color-tertiary-container: rgb(107 47 69);
      --jinni-color-on-tertiary-container: rgb(255 255 255);
      --jinni-color-error: rgb(78 0 2);
      --jinni-color-on-error: rgb(255 255 255);
      --jinni-color-error-container: rgb(140 0 9);
      --jinni-color-on-error-container: rgb(255 255 255);
      --jinni-color-background: rgb(247 249 255);
      --jinni-color-on-background: rgb(24 28 32);
      --jinni-color-surface: rgb(254 247 255);
      --jinni-color-on-surface: rgb(0 0 0);
      --jinni-color-surface-variant: rgb(231 224 235);
      --jinni-color-on-surface-variant: rgb(37 35 43);
      --jinni-color-outline: rgb(69 65 74);
      --jinni-color-outline-variant: rgb(69 65 74);
      --jinni-color-shadow: rgb(0 0 0);
      --jinni-color-scrim: rgb(0 0 0);
      --jinni-color-inverse-surface: rgb(50 47 53);
      --jinni-color-inverse-on-surface: rgb(255 255 255);
      --jinni-color-inverse-primary: rgb(223 238 255);
      --jinni-color-primary-fixed: rgb(1 70 110);
      --jinni-color-on-primary-fixed: rgb(255 255 255);
      --jinni-color-primary-fixed-dim: rgb(0 47 76);
      --jinni-color-on-primary-fixed-variant: rgb(255 255 255);
      --jinni-color-secondary-fixed: rgb(73 57 113);
      --jinni-color-on-secondary-fixed: rgb(255 255 255);
      --jinni-color-secondary-fixed-dim: rgb(50 35 89);
      --jinni-color-on-secondary-fixed-variant: rgb(255 255 255);
      --jinni-color-tertiary-fixed: rgb(107 47 69);
      --jinni-color-on-tertiary-fixed: rgb(255 255 255);
      --jinni-color-tertiary-fixed-dim: rgb(80 25 47);
      --jinni-color-on-tertiary-fixed-variant: rgb(255 255 255);
      --jinni-color-surface-dim: rgb(222 216 224);
      --jinni-color-surface-bright: rgb(254 247 255);
      --jinni-color-surface-container-lowest: rgb(255 255 255);
      --jinni-color-surface-container-low: rgb(248 241 250);
      --jinni-color-surface-container: rgb(242 236 244);
      --jinni-color-surface-container-high: rgb(236 230 238);
      --jinni-color-surface-container-highest: rgb(231 224 232);
      --jinni-color-success: rgb(54 83 20);
      --jinni-color-on-success: rgb(255 255 255);
      --jinni-color-info: rgb(12 74 110);
      --jinni-color-on-info: rgb(255 255 255);
      --jinni-color-warning: rgb(120 53 15);
      --jinni-color-on-warning: rgb(255 255 255);
      --jinni-color-success-container: rgb(190 242 100);
      --jinni-color-on-success-container: rgb(26 46 5);
      --jinni-color-info-container: rgb(125 211 252);
      --jinni-color-on-info-container: rgb(0 0 0);
      --jinni-color-warning-container: rgb(252 211 77);
      --jinni-color-on-warning-container: rgb(69 26 3);
    }
  }

  &.dark {
    &.standard-contrast {
      --jinni-color-primary: rgb(154 203 250);
      --jinni-color-surface-tint: rgb(154 203 250);
      --jinni-color-on-primary: rgb(0 51 82);
      --jinni-color-primary-container: rgb(10 74 114);
      --jinni-color-on-primary-container: rgb(205 229 255);
      --jinni-color-secondary: rgb(208 188 254);
      --jinni-color-on-secondary: rgb(54 38 93);
      --jinni-color-secondary-container: rgb(77 61 117);
      --jinni-color-on-secondary-container: rgb(233 221 255);
      --jinni-color-tertiary: rgb(255 176 201);
      --jinni-color-on-tertiary: rgb(84 29 51);
      --jinni-color-tertiary-container: rgb(111 51 73);
      --jinni-color-on-tertiary-container: rgb(255 217 227);
      --jinni-color-error: rgb(255 180 171);
      --jinni-color-on-error: rgb(105 0 5);
      --jinni-color-error-container: rgb(147 0 10);
      --jinni-color-on-error-container: rgb(255 218 214);
      --jinni-color-background: rgb(16 20 24);
      --jinni-color-on-background: rgb(224 226 232);
      --jinni-color-surface: rgb(20 18 24);
      --jinni-color-on-surface: rgb(231 224 232);
      --jinni-color-surface-variant: rgb(73 69 78);
      --jinni-color-on-surface-variant: rgb(202 196 207);
      --jinni-color-outline: rgb(148 143 153);
      --jinni-color-outline-variant: rgb(73 69 78);
      --jinni-color-shadow: rgb(0 0 0);
      --jinni-color-scrim: rgb(0 0 0);
      --jinni-color-inverse-surface: rgb(231 224 232);
      --jinni-color-inverse-on-surface: rgb(50 47 53);
      --jinni-color-inverse-primary: rgb(45 98 139);
      --jinni-color-primary-fixed: rgb(205 229 255);
      --jinni-color-on-primary-fixed: rgb(0 29 50);
      --jinni-color-primary-fixed-dim: rgb(154 203 250);
      --jinni-color-on-primary-fixed-variant: rgb(10 74 114);
      --jinni-color-secondary-fixed: rgb(233 221 255);
      --jinni-color-on-secondary-fixed: rgb(33 15 71);
      --jinni-color-secondary-fixed-dim: rgb(208 188 254);
      --jinni-color-on-secondary-fixed-variant: rgb(77 61 117);
      --jinni-color-tertiary-fixed: rgb(255 217 227);
      --jinni-color-on-tertiary-fixed: rgb(58 7 30);
      --jinni-color-tertiary-fixed-dim: rgb(255 176 201);
      --jinni-color-on-tertiary-fixed-variant: rgb(111 51 73);
      --jinni-color-surface-dim: rgb(20 18 24);
      --jinni-color-surface-bright: rgb(59 56 62);
      --jinni-color-surface-container-lowest: rgb(15 13 19);
      --jinni-color-surface-container-low: rgb(29 27 32);
      --jinni-color-surface-container: rgb(33 31 36);
      --jinni-color-surface-container-high: rgb(43 41 47);
      --jinni-color-surface-container-highest: rgb(54 52 58);
      --jinni-color-success: rgb(190 242 100);
      --jinni-color-on-success: rgb(63 98 18);
      --jinni-color-info: rgb(125 211 252);
      --jinni-color-on-info: rgb(7 89 133);
      --jinni-color-warning: rgb(252 211 77);
      --jinni-color-on-warning: rgb(146 64 14);
      --jinni-color-success-container: rgb(26 46 5);
      --jinni-color-on-success-container: rgb(101 163 13);
      --jinni-color-info-container: rgb(8 47 73);
      --jinni-color-on-info-container: rgb(14 165 233);
      --jinni-color-warning-container: rgb(69 26 3);
      --jinni-color-on-warning-container: rgb(217 119 6);
    }
    &.medium-contrast {
      --jinni-color-primary: rgb(158 208 254);
      --jinni-color-surface-tint: rgb(154 203 250);
      --jinni-color-on-primary: rgb(0 24 42);
      --jinni-color-primary-container: rgb(100 149 193);
      --jinni-color-on-primary-container: rgb(0 0 0);
      --jinni-color-secondary: rgb(212 193 255);
      --jinni-color-on-secondary: rgb(27 9 65);
      --jinni-color-secondary-container: rgb(153 135 197);
      --jinni-color-on-secondary-container: rgb(0 0 0);
      --jinni-color-tertiary: rgb(255 183 205);
      --jinni-color-on-tertiary: rgb(51 2 24);
      --jinni-color-tertiary-container: rgb(197 123 147);
      --jinni-color-on-tertiary-container: rgb(0 0 0);
      --jinni-color-error: rgb(255 186 177);
      --jinni-color-on-error: rgb(55 0 1);
      --jinni-color-error-container: rgb(255 84 73);
      --jinni-color-on-error-container: rgb(0 0 0);
      --jinni-color-background: rgb(16 20 24);
      --jinni-color-on-background: rgb(224 226 232);
      --jinni-color-surface: rgb(20 18 24);
      --jinni-color-on-surface: rgb(255 249 255);
      --jinni-color-surface-variant: rgb(73 69 78);
      --jinni-color-on-surface-variant: rgb(207 200 212);
      --jinni-color-outline: rgb(166 161 171);
      --jinni-color-outline-variant: rgb(134 129 139);
      --jinni-color-shadow: rgb(0 0 0);
      --jinni-color-scrim: rgb(0 0 0);
      --jinni-color-inverse-surface: rgb(231 224 232);
      --jinni-color-inverse-on-surface: rgb(43 41 47);
      --jinni-color-inverse-primary: rgb(13 76 115);
      --jinni-color-primary-fixed: rgb(205 229 255);
      --jinni-color-on-primary-fixed: rgb(0 18 34);
      --jinni-color-primary-fixed-dim: rgb(154 203 250);
      --jinni-color-on-primary-fixed-variant: rgb(0 57 91);
      --jinni-color-secondary-fixed: rgb(233 221 255);
      --jinni-color-on-secondary-fixed: rgb(22 3 61);
      --jinni-color-secondary-fixed-dim: rgb(208 188 254);
      --jinni-color-on-secondary-fixed-variant: rgb(60 44 99);
      --jinni-color-tertiary-fixed: rgb(255 217 227);
      --jinni-color-on-tertiary-fixed: rgb(43 0 19);
      --jinni-color-tertiary-fixed-dim: rgb(255 176 201);
      --jinni-color-on-tertiary-fixed-variant: rgb(91 34 56);
      --jinni-color-surface-dim: rgb(20 18 24);
      --jinni-color-surface-bright: rgb(59 56 62);
      --jinni-color-surface-container-lowest: rgb(15 13 19);
      --jinni-color-surface-container-low: rgb(29 27 32);
      --jinni-color-surface-container: rgb(33 31 36);
      --jinni-color-surface-container-high: rgb(43 41 47);
      --jinni-color-surface-container-highest: rgb(54 52 58);
      --jinni-color-success: rgb(217 249 157);
      --jinni-color-on-success: rgb(54 83 20);
      --jinni-color-info: rgb(186 230 253);
      --jinni-color-on-info: rgb(12 74 110);
      --jinni-color-warning: rgb(253 230 138);
      --jinni-color-on-warning: rgb(120 53 15);
      --jinni-color-success-container: rgb(54 83 20);
      --jinni-color-on-success-container: rgb(190 242 100);
      --jinni-color-info-container: rgb(12 74 110);
      --jinni-color-on-info-container: rgb(125 211 252);
      --jinni-color-warning-container: rgb(120 53 15);
      --jinni-color-on-warning-container: rgb(252 211 77);
    }
    &.high-contrast {
      --jinni-color-primary: rgb(249 250 255);
      --jinni-color-surface-tint: rgb(154 203 250);
      --jinni-color-on-primary: rgb(0 0 0);
      --jinni-color-primary-container: rgb(158 208 254);
      --jinni-color-on-primary-container: rgb(0 0 0);
      --jinni-color-secondary: rgb(255 249 255);
      --jinni-color-on-secondary: rgb(0 0 0);
      --jinni-color-secondary-container: rgb(212 193 255);
      --jinni-color-on-secondary-container: rgb(0 0 0);
      --jinni-color-tertiary: rgb(255 249 249);
      --jinni-color-on-tertiary: rgb(0 0 0);
      --jinni-color-tertiary-container: rgb(255 183 205);
      --jinni-color-on-tertiary-container: rgb(0 0 0);
      --jinni-color-error: rgb(255 249 249);
      --jinni-color-on-error: rgb(0 0 0);
      --jinni-color-error-container: rgb(255 186 177);
      --jinni-color-on-error-container: rgb(0 0 0);
      --jinni-color-background: rgb(16 20 24);
      --jinni-color-on-background: rgb(224 226 232);
      --jinni-color-surface: rgb(20 18 24);
      --jinni-color-on-surface: rgb(255 255 255);
      --jinni-color-surface-variant: rgb(73 69 78);
      --jinni-color-on-surface-variant: rgb(255 249 255);
      --jinni-color-outline: rgb(207 200 212);
      --jinni-color-outline-variant: rgb(207 200 212);
      --jinni-color-shadow: rgb(0 0 0);
      --jinni-color-scrim: rgb(0 0 0);
      --jinni-color-inverse-surface: rgb(231 224 232);
      --jinni-color-inverse-on-surface: rgb(0 0 0);
      --jinni-color-inverse-primary: rgb(0 44 72);
      --jinni-color-primary-fixed: rgb(213 233 255);
      --jinni-color-on-primary-fixed: rgb(0 0 0);
      --jinni-color-primary-fixed-dim: rgb(158 208 254);
      --jinni-color-on-primary-fixed-variant: rgb(0 24 42);
      --jinni-color-secondary-fixed: rgb(237 226 255);
      --jinni-color-on-secondary-fixed: rgb(0 0 0);
      --jinni-color-secondary-fixed-dim: rgb(212 193 255);
      --jinni-color-on-secondary-fixed-variant: rgb(27 9 65);
      --jinni-color-tertiary-fixed: rgb(255 223 231);
      --jinni-color-on-tertiary-fixed: rgb(0 0 0);
      --jinni-color-tertiary-fixed-dim: rgb(255 183 205);
      --jinni-color-on-tertiary-fixed-variant: rgb(51 2 24);
      --jinni-color-surface-dim: rgb(20 18 24);
      --jinni-color-surface-bright: rgb(59 56 62);
      --jinni-color-surface-container-lowest: rgb(15 13 19);
      --jinni-color-surface-container-low: rgb(29 27 32);
      --jinni-color-surface-container: rgb(33 31 36);
      --jinni-color-surface-container-high: rgb(43 41 47);
      --jinni-color-surface-container-highest: rgb(54 52 58);
      --jinni-color-success: rgb(236 252 203);
      --jinni-color-on-success: rgb(26 46 5);
      --jinni-color-info: rgb(224 242 254);
      --jinni-color-on-info: rgb(8 47 73);
      --jinni-color-warning: rgb(255 237 213);
      --jinni-color-on-warning: rgb(69 26 3);
      --jinni-color-success-container: rgb(63 98 18);
      --jinni-color-on-success-container: rgb(255 255 255);
      --jinni-color-info-container: rgb(7 89 133);
      --jinni-color-on-info-container: rgb(255 255 255);
      --jinni-color-warning-container: rgb(146 64 14);
      --jinni-color-on-warning-container: rgb(255 255 255);
    }
  }
}

// Color Palette
:root {
  // gray
  --jinni-color-gray-50: #f9fafb;
  --jinni-color-gray-100: #f3f4f6;
  --jinni-color-gray-200: #e5e7eb;
  --jinni-color-gray-300: #d1d5db;
  --jinni-color-gray-400: #9ca3af;
  --jinni-color-gray-500: #6b7280;
  --jinni-color-gray-600: #4b5563;
  --jinni-color-gray-700: #374151;
  --jinni-color-gray-800: #1f2937;
  --jinni-color-gray-900: #111827;
  --jinni-color-gray-950: #030712;

  // yellow
  --jinni-color-yellow-50: #fefce8;
  --jinni-color-yellow-100: #fef9c3;
  --jinni-color-yellow-200: #fef08a;
  --jinni-color-yellow-300: #fde047;
  --jinni-color-yellow-400: #facc15;
  --jinni-color-yellow-500: #eab308;
  --jinni-color-yellow-600: #ca8a04;
  --jinni-color-yellow-700: #a16207;
  --jinni-color-yellow-800: #854d0e;
  --jinni-color-yellow-900: #713f12;
  --jinni-color-yellow-950: #422006;

  // Amber
  --jinni-color-amber-50: #fffbeb;
  --jinni-color-amber-100: #fef3c7;
  --jinni-color-amber-200: #fde68a;
  --jinni-color-amber-300: #fcd34d;
  --jinni-color-amber-400: #fbbf24;
  --jinni-color-amber-500: #f59e0b;
  --jinni-color-amber-600: #d97706;
  --jinni-color-amber-700: #b45309;
  --jinni-color-amber-800: #92400e;
  --jinni-color-amber-900: #78350f;
  --jinni-color-amber-950: #451a03;

  // Lime
  --jinni-color-lime-50: #f7fee7;
  --jinni-color-lime-100: #ecfccb;
  --jinni-color-lime-200: #d9f99d;
  --jinni-color-lime-300: #bef264;
  --jinni-color-lime-400: #a3e635;
  --jinni-color-lime-500: #84cc16;
  --jinni-color-lime-600: #65a30d;
  --jinni-color-lime-700: #4d7c0f;
  --jinni-color-lime-800: #3f6212;
  --jinni-color-lime-900: #365314;
  --jinni-color-lime-950: #1a2e05;

  // Sky
  --jinni-color-sky-50: #f0f9ff;
  --jinni-color-sky-100: #e0f2fe;
  --jinni-color-sky-200: #bae6fd;
  --jinni-color-sky-300: #7dd3fc;
  --jinni-color-sky-400: #38bdf8;
  --jinni-color-sky-500: #0ea5e9;
  --jinni-color-sky-600: #0284c7;
  --jinni-color-sky-700: #0369a1;
  --jinni-color-sky-800: #075985;
  --jinni-color-sky-900: #0c4a6e;
  --jinni-color-sky-950: #082f49;
}
