:root {
  // Box Shadow
  --jinni-box-shadow-0: 0px 0px rgba(0, 0, 0, 0);
  --jinni-box-shadow-1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-7: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-9: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
    0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-10: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-11: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),
    0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-12: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-13: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-14: 0px 7px 9px -4px rgba(0, 0, 0, 0.2),
    0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-15: 0px 8px 9px -5px rgba(0, 0, 0, 0.2),
    0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-16: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-17: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),
    0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-18: 0px 9px 11px -5px rgba(0, 0, 0, 0.2),
    0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-19: 0px 9px 12px -6px rgba(0, 0, 0, 0.2),
    0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-20: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-21: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-22: 0px 10px 14px -6px rgba(0, 0, 0, 0.2),
    0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-23: 0px 11px 14px -7px rgba(0, 0, 0, 0.2),
    0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
  --jinni-box-shadow-24: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

  // White Overlay
  --jinni-white-overlay-0: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
  --jinni-white-overlay-1: linear-gradient(
    rgba(255, 255, 255, 0.051),
    rgba(255, 255, 255, 0.051)
  );
  --jinni-white-overlay-2: linear-gradient(
    rgba(255, 255, 255, 0.069),
    rgba(255, 255, 255, 0.069)
  );
  --jinni-white-overlay-3: linear-gradient(
    rgba(255, 255, 255, 0.082),
    rgba(255, 255, 255, 0.082)
  );
  --jinni-white-overlay-4: linear-gradient(
    rgba(255, 255, 255, 0.092),
    rgba(255, 255, 255, 0.092)
  );
  --jinni-white-overlay-5: linear-gradient(
    rgba(255, 255, 255, 0.101),
    rgba(255, 255, 255, 0.101)
  );
  --jinni-white-overlay-6: linear-gradient(
    rgba(255, 255, 255, 0.108),
    rgba(255, 255, 255, 0.108)
  );
  --jinni-white-overlay-7: linear-gradient(
    rgba(255, 255, 255, 0.114),
    rgba(255, 255, 255, 0.114)
  );
  --jinni-white-overlay-8: linear-gradient(
    rgba(255, 255, 255, 0.119),
    rgba(255, 255, 255, 0.119)
  );
  --jinni-white-overlay-9: linear-gradient(
    rgba(255, 255, 255, 0.124),
    rgba(255, 255, 255, 0.124)
  );
  --jinni-white-overlay-10: linear-gradient(
    rgba(255, 255, 255, 0.128),
    rgba(255, 255, 255, 0.128)
  );
  --jinni-white-overlay-11: linear-gradient(
    rgba(255, 255, 255, 0.132),
    rgba(255, 255, 255, 0.132)
  );
  --jinni-white-overlay-12: linear-gradient(
    rgba(255, 255, 255, 0.135),
    rgba(255, 255, 255, 0.135)
  );
  --jinni-white-overlay-13: linear-gradient(
    rgba(255, 255, 255, 0.139),
    rgba(255, 255, 255, 0.139)
  );
  --jinni-white-overlay-14: linear-gradient(
    rgba(255, 255, 255, 0.142),
    rgba(255, 255, 255, 0.142)
  );
  --jinni-white-overlay-15: linear-gradient(
    rgba(255, 255, 255, 0.145),
    rgba(255, 255, 255, 0.145)
  );
  --jinni-white-overlay-16: linear-gradient(
    rgba(255, 255, 255, 0.147),
    rgba(255, 255, 255, 0.147)
  );
  --jinni-white-overlay-17: linear-gradient(
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.15)
  );
  --jinni-white-overlay-18: linear-gradient(
    rgba(255, 255, 255, 0.152),
    rgba(255, 255, 255, 0.152)
  );
  --jinni-white-overlay-19: linear-gradient(
    rgba(255, 255, 255, 0.155),
    rgba(255, 255, 255, 0.155)
  );
  --jinni-white-overlay-20: linear-gradient(
    rgba(255, 255, 255, 0.157),
    rgba(255, 255, 255, 0.157)
  );
  --jinni-white-overlay-21: linear-gradient(
    rgba(255, 255, 255, 0.159),
    rgba(255, 255, 255, 0.159)
  );
  --jinni-white-overlay-22: linear-gradient(
    rgba(255, 255, 255, 0.161),
    rgba(255, 255, 255, 0.161)
  );
  --jinni-white-overlay-23: linear-gradient(
    rgba(255, 255, 255, 0.163),
    rgba(255, 255, 255, 0.163)
  );
  --jinni-white-overlay-24: linear-gradient(
    rgba(255, 255, 255, 0.165),
    rgba(255, 255, 255, 0.165)
  );
}
