:root {
  // Easing
  --jinni-easing-emphasized: ease;
  --jinni-easing-emphasized-accelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
  --jinni-easing-emphasized-decelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
  --jinni-easing-standard: cubic-bezier(0.2, 0, 0, 1);
  --jinni-easing-standard-accelerate: cubic-bezier(0, 0, 0, 1);
  --jinni-easing-standard-decelerate: cubic-bezier(0.3, 0, 1, 1);

  // Duration
  --jinni-duration-short1: 50ms;
  --jinni-duration-short2: 100ms;
  --jinni-duration-short3: 150ms;
  --jinni-duration-short4: 200ms;
  --jinni-duration-medium1: 250ms;
  --jinni-duration-medium2: 300ms;
  --jinni-duration-medium3: 350ms;
  --jinni-duration-medium4: 400ms;
  --jinni-duration-long1: 450ms;
  --jinni-duration-long2: 500ms;
  --jinni-duration-long3: 550ms;
  --jinni-duration-long4: 600ms;
  --jinni-duration-extra-long1: 700ms;
  --jinni-duration-extra-long2: 800ms;
  --jinni-duration-extra-long3: 900ms;
  --jinni-duration-extra-long4: 1000ms;
}
