:root {
  // White Overlay
  --jinni-white-overlay-0: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
  --jinni-white-overlay-1: linear-gradient(
    rgba(255, 255, 255, 0.051),
    rgba(255, 255, 255, 0.051)
  );
  --jinni-white-overlay-2: linear-gradient(
    rgba(255, 255, 255, 0.069),
    rgba(255, 255, 255, 0.069)
  );
  --jinni-white-overlay-3: linear-gradient(
    rgba(255, 255, 255, 0.082),
    rgba(255, 255, 255, 0.082)
  );
  --jinni-white-overlay-4: linear-gradient(
    rgba(255, 255, 255, 0.092),
    rgba(255, 255, 255, 0.092)
  );
  --jinni-white-overlay-5: linear-gradient(
    rgba(255, 255, 255, 0.101),
    rgba(255, 255, 255, 0.101)
  );
  --jinni-white-overlay-6: linear-gradient(
    rgba(255, 255, 255, 0.108),
    rgba(255, 255, 255, 0.108)
  );
  --jinni-white-overlay-7: linear-gradient(
    rgba(255, 255, 255, 0.114),
    rgba(255, 255, 255, 0.114)
  );
  --jinni-white-overlay-8: linear-gradient(
    rgba(255, 255, 255, 0.119),
    rgba(255, 255, 255, 0.119)
  );
  --jinni-white-overlay-9: linear-gradient(
    rgba(255, 255, 255, 0.124),
    rgba(255, 255, 255, 0.124)
  );
  --jinni-white-overlay-10: linear-gradient(
    rgba(255, 255, 255, 0.128),
    rgba(255, 255, 255, 0.128)
  );
  --jinni-white-overlay-11: linear-gradient(
    rgba(255, 255, 255, 0.132),
    rgba(255, 255, 255, 0.132)
  );
  --jinni-white-overlay-12: linear-gradient(
    rgba(255, 255, 255, 0.135),
    rgba(255, 255, 255, 0.135)
  );
  --jinni-white-overlay-13: linear-gradient(
    rgba(255, 255, 255, 0.139),
    rgba(255, 255, 255, 0.139)
  );
  --jinni-white-overlay-14: linear-gradient(
    rgba(255, 255, 255, 0.142),
    rgba(255, 255, 255, 0.142)
  );
  --jinni-white-overlay-15: linear-gradient(
    rgba(255, 255, 255, 0.145),
    rgba(255, 255, 255, 0.145)
  );
  --jinni-white-overlay-16: linear-gradient(
    rgba(255, 255, 255, 0.147),
    rgba(255, 255, 255, 0.147)
  );
  --jinni-white-overlay-17: linear-gradient(
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.15)
  );
  --jinni-white-overlay-18: linear-gradient(
    rgba(255, 255, 255, 0.152),
    rgba(255, 255, 255, 0.152)
  );
  --jinni-white-overlay-19: linear-gradient(
    rgba(255, 255, 255, 0.155),
    rgba(255, 255, 255, 0.155)
  );
  --jinni-white-overlay-20: linear-gradient(
    rgba(255, 255, 255, 0.157),
    rgba(255, 255, 255, 0.157)
  );
  --jinni-white-overlay-21: linear-gradient(
    rgba(255, 255, 255, 0.159),
    rgba(255, 255, 255, 0.159)
  );
  --jinni-white-overlay-22: linear-gradient(
    rgba(255, 255, 255, 0.161),
    rgba(255, 255, 255, 0.161)
  );
  --jinni-white-overlay-23: linear-gradient(
    rgba(255, 255, 255, 0.163),
    rgba(255, 255, 255, 0.163)
  );
  --jinni-white-overlay-24: linear-gradient(
    rgba(255, 255, 255, 0.165),
    rgba(255, 255, 255, 0.165)
  );

  // Black Overlay
  --jinni-black-overlay-0: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  --jinni-black-overlay-1: linear-gradient(
    rgba(0, 0, 0, 0.051),
    rgba(0, 0, 0, 0.051)
  );
  --jinni-black-overlay-2: linear-gradient(
    rgba(0, 0, 0, 0.069),
    rgba(0, 0, 0, 0.069)
  );
  --jinni-black-overlay-3: linear-gradient(
    rgba(0, 0, 0, 0.082),
    rgba(0, 0, 0, 0.082)
  );
  --jinni-black-overlay-4: linear-gradient(
    rgba(0, 0, 0, 0.092),
    rgba(0, 0, 0, 0.092)
  );
  --jinni-black-overlay-5: linear-gradient(
    rgba(0, 0, 0, 0.101),
    rgba(0, 0, 0, 0.101)
  );
  --jinni-black-overlay-6: linear-gradient(
    rgba(0, 0, 0, 0.108),
    rgba(0, 0, 0, 0.108)
  );
  --jinni-black-overlay-7: linear-gradient(
    rgba(0, 0, 0, 0.114),
    rgba(0, 0, 0, 0.114)
  );
  --jinni-black-overlay-8: linear-gradient(
    rgba(0, 0, 0, 0.119),
    rgba(0, 0, 0, 0.119)
  );
  --jinni-black-overlay-9: linear-gradient(
    rgba(0, 0, 0, 0.124),
    rgba(0, 0, 0, 0.124)
  );
  --jinni-black-overlay-10: linear-gradient(
    rgba(0, 0, 0, 0.128),
    rgba(0, 0, 0, 0.128)
  );
  --jinni-black-overlay-11: linear-gradient(
    rgba(0, 0, 0, 0.132),
    rgba(0, 0, 0, 0.132)
  );
  --jinni-black-overlay-12: linear-gradient(
    rgba(0, 0, 0, 0.135),
    rgba(0, 0, 0, 0.135)
  );
  --jinni-black-overlay-13: linear-gradient(
    rgba(0, 0, 0, 0.139),
    rgba(0, 0, 0, 0.139)
  );
  --jinni-black-overlay-14: linear-gradient(
    rgba(0, 0, 0, 0.142),
    rgba(0, 0, 0, 0.142)
  );
  --jinni-black-overlay-15: linear-gradient(
    rgba(0, 0, 0, 0.145),
    rgba(0, 0, 0, 0.145)
  );
  --jinni-black-overlay-16: linear-gradient(
    rgba(0, 0, 0, 0.147),
    rgba(0, 0, 0, 0.147)
  );
  --jinni-black-overlay-17: linear-gradient(
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15)
  );
  --jinni-black-overlay-18: linear-gradient(
    rgba(0, 0, 0, 0.152),
    rgba(0, 0, 0, 0.152)
  );
  --jinni-black-overlay-19: linear-gradient(
    rgba(0, 0, 0, 0.155),
    rgba(0, 0, 0, 0.155)
  );
  --jinni-black-overlay-20: linear-gradient(
    rgba(0, 0, 0, 0.157),
    rgba(0, 0, 0, 0.157)
  );
  --jinni-black-overlay-21: linear-gradient(
    rgba(0, 0, 0, 0.159),
    rgba(0, 0, 0, 0.159)
  );
  --jinni-black-overlay-22: linear-gradient(
    rgba(0, 0, 0, 0.161),
    rgba(0, 0, 0, 0.161)
  );
  --jinni-black-overlay-23: linear-gradient(
    rgba(0, 0, 0, 0.163),
    rgba(0, 0, 0, 0.163)
  );
  --jinni-black-overlay-24: linear-gradient(
    rgba(0, 0, 0, 0.165),
    rgba(0, 0, 0, 0.165)
  );
}
