@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

$typo-types: 'display-large', 'display-medium', 'display-small',
  'headline-large', 'headline-medium', 'headline-small', 'title-large',
  'title-medium', 'title-small', 'label-large', 'label-medium', 'label-small',
  'body-large', 'body-medium', 'body-small';

:root {
  // typo-font-size
  --jinni-typo-font-size-display-large: 57px;
  --jinni-typo-font-size-display-medium: 45px;
  --jinni-typo-font-size-display-small: 36px;
  --jinni-typo-font-size-headline-large: 32px;
  --jinni-typo-font-size-headline-medium: 28px;
  --jinni-typo-font-size-headline-small: 24px;
  --jinni-typo-font-size-title-large: 22px;
  --jinni-typo-font-size-title-medium: 16px;
  --jinni-typo-font-size-title-small: 14px;
  --jinni-typo-font-size-label-large: 14px;
  --jinni-typo-font-size-label-medium: 12px;
  --jinni-typo-font-size-label-small: 11px;
  --jinni-typo-font-size-body-large: 16px;
  --jinni-typo-font-size-body-medium: 14px;
  --jinni-typo-font-size-body-small: 12px;

  // typo-line-height
  --jinni-typo-line-height-display-large: 64px;
  --jinni-typo-line-height-display-medium: 52px;
  --jinni-typo-line-height-display-small: 44px;
  --jinni-typo-line-height-headline-large: 40px;
  --jinni-typo-line-height-headline-medium: 36px;
  --jinni-typo-line-height-headline-small: 32px;
  --jinni-typo-line-height-title-large: 28px;
  --jinni-typo-line-height-title-medium: 24px;
  --jinni-typo-line-height-title-small: 20px;
  --jinni-typo-line-height-label-large: 20px;
  --jinni-typo-line-height-label-medium: 16px;
  --jinni-typo-line-height-label-small: 16px;
  --jinni-typo-line-height-body-large: 24px;
  --jinni-typo-line-height-body-medium: 20px;
  --jinni-typo-line-height-body-small: 16px;

  // typo-letter-spacing
  --jinni-typo-letter-spacing-display-large: -0.25px;
  --jinni-typo-letter-spacing-display-medium: 0px;
  --jinni-typo-letter-spacing-display-small: 0px;
  --jinni-typo-letter-spacing-headline-large: 0px;
  --jinni-typo-letter-spacing-headline-medium: 0px;
  --jinni-typo-letter-spacing-headline-small: 0px;
  --jinni-typo-letter-spacing-title-large: 0px;
  --jinni-typo-letter-spacing-title-medium: 0.15px;
  --jinni-typo-letter-spacing-title-small: 0.1px;
  --jinni-typo-letter-spacing-label-large: 0.1px;
  --jinni-typo-letter-spacing-label-medium: 0.5px;
  --jinni-typo-letter-spacing-label-small: 0.5px;
  --jinni-typo-letter-spacing-body-large: 0.5px;
  --jinni-typo-letter-spacing-body-medium: 0.25px;
  --jinni-typo-letter-spacing-body-small: 0.4px;

  // typo-font-weight
  --jinni-typo-font-weight-display-large: 400;
  --jinni-typo-font-weight-display-medium: 400;
  --jinni-typo-font-weight-display-small: 400;
  --jinni-typo-font-weight-headline-large: 400;
  --jinni-typo-font-weight-headline-medium: 400;
  --jinni-typo-font-weight-headline-small: 400;
  --jinni-typo-font-weight-title-large: 400;
  --jinni-typo-font-weight-title-medium: 500;
  --jinni-typo-font-weight-title-small: 500;
  --jinni-typo-font-weight-label-large: 500;
  --jinni-typo-font-weight-label-medium: 500;
  --jinni-typo-font-weight-label-small: 500;
  --jinni-typo-font-weight-body-large: 400;
  --jinni-typo-font-weight-body-medium: 400;
  --jinni-typo-font-weight-body-small: 400;
}

@mixin typography($type) {
  font-family: 'Noto Sans KR', serif;
  font-style: normal;
  font-size: var(--jinni-typo-font-size-#{$type});
  line-height: var(--jinni-typo-line-height-#{$type});
  letter-spacing: var(--jinni-typo-letter-spacing-#{$type});
  font-weight: var(--jinni-typo-font-weight-#{$type});
}

* {
  @include typography('body-medium');
}

@each $type in $typo-types {
  .typo-#{$type} {
    @include typography($type);
  }
}
