$scrollbar-width: 15px;
$dash-border-width: 2px;

@mixin left-rounded {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

@mixin right-rounded {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.JinniDayRangeCalendar {
  width: 300px;

  .JinniGrid.JinniWeekDayContainer {
    gap: 0;
  }

  .JinniGrid.JinniDayContainer {
    gap: 0;

    .JinniBox.GridItem {
      padding-top: 2px;
      padding-bottom: 2px;
      box-sizing: border-box;

      .JinniBox.DayContainer {
        position: relative;
        display: inline-flex;
        justify-content: center;
        box-sizing: border-box;
        border-radius: inherit;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          border-radius: inherit;
        }
        &.showDashBorder::before {
          border: $dash-border-width dashed var(--jinni-color-gray-300);
        }
        &.dimmedBackground {
          background-color: var(--dim-color);
        }
      }

      &:nth-child(7n + 1) {
        @include left-rounded;
        .JinniBox.DayContainer::before {
          border-right-width: 0;
        }
      }
      @for $i from 2 through 6 {
        &:nth-child(7n + #{$i}) {
          .JinniBox.DayContainer::before {
            border-left-width: 0;
            border-right-width: 0;
          }
        }
      }
      &:nth-child(7n + 7) {
        @include right-rounded;
        .JinniBox.DayContainer::before {
          border-left-width: 0;
        }
      }
      &:last-child {
        @include right-rounded;
      }
      &.startDate {
        @include left-rounded;
      }
      &.endDate {
        @include right-rounded;
      }
      &.lastDashBorder {
        @include right-rounded;
        .JinniBox.DayContainer::before {
          border-right-width: $dash-border-width;
        }
      }
    }
  }
}
