.JinniTransition {
  width: max-content;
  height: max-content;

  &.JinniFade {
    transition-property: opacity;
  }

  &.JinniCollapse {
    overflow: hidden;
    &.vertical {
      transition-property: height;
    }
    &.horizontal {
      transition-property: width;
    }
  }

  &.JinniSlide {
    transition-property: transform;
  }

  &.JinniScale {
    transition-property: transform;
  }
}
