@mixin orientation {
  &.horizontal {
    flex-direction: row;
  }
  &.vertical {
    flex-direction: column;
  }
}

.JinniDotsContainer {
  display: inline-flex;
  overflow: hidden;

  .JinniDots {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: max-content;
    height: max-content;
    @include orientation;
  }
}
