@use './mixins.scss' as mixins;

@mixin small-input-base-style($padding-left: 3px, $padding-right: 3px) {
  min-width: auto;
  .JinniInputBaseContent {
    padding-left: $padding-left;
    padding-right: $padding-right;
  }
  .JinniInputBaseAdornment.end {
    padding-right: 0px;
  }
}

.JinniColorBox {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: max-content;

  .JinniColorBoxControl {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding-top: 10px;
    width: 240px;

    .JinniColorBoxControlTop {
      display: flex;
      column-gap: 8px;

      .JinniColorBoxSliderContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
      }
    }

    .JinniColorBoxControlBottom {
      display: flex;
      justify-content: space-between;
      align-items: end;
      column-gap: 5px;

      .JinniSelect {
        .JinniInputBase {
          @include small-input-base-style(3px, 0px);
        }
      }

      .JinniInputsContainer {
        display: flex;
        align-items: center;
        column-gap: 5px;

        .JinniThreeInputs {
          display: flex;
          align-items: center;

          .JinniInputBase {
            @include small-input-base-style(5px, 0px);
            width: 45px;
          }

          .JinniLabel {
            &:not(:last-child) .JinniInputBase {
              border-right: none;
              border-bottom-right-radius: 0;
              border-top-right-radius: 0;
            }
            &:not(:first-child) .JinniInputBase {
              border-bottom-left-radius: 0;
              border-top-left-radius: 0;
            }
          }
        }

        .JinniAlphaInput.JinniInputBase {
          width: 45px;
          @include small-input-base-style(5px, 0px);
        }
      }

      .JinniHexInput {
        width: 190px;
        .JinniLabel {
          .JinniInputBase {
            min-width: auto;
            width: 190px;
            .JinniInputBaseAdornment.start {
              font-size: 12px;
              color: var(--jinni-color-gray-600);
            }
            .JinniInputBaseContent input {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
