.JinniPresetDigitalClock.JinniBox {
  display: inline-block;
  max-width: max-content;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--jinni-color-outline-variant);

  .JinniMenuList {
    position: relative;
    padding: 0;
    height: 180px;
    border-radius: 0;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: transparent;
    &::-webkit-scrollbar {
      display: none;
    }

    .JinniMenuItem {
      &.selected .JinniMenuItemButton {
        background-color: var(--jinni-color-primary);
        color: var(--text-color-selected);
      }
      &.hide {
        display: none;
      }
    }
  }
}
