$item-size: (
  sm: 26px,
  md: 32px,
  lg: 38px
);

@mixin action-size {
  @each $size in sm, md, lg {
    &.#{$size} {
      width: map-get($map: $item-size, $key: $size);
      height: map-get($map: $item-size, $key: $size);
    }
  }
}

.JinniCircularSpeedDialActionWrapper {
  position: absolute;
  display: inline-block;
  transform: translate(-50%, -50%);
  @include action-size;

  button.JinniCircularSpeedDialAction.JinniButtonBase.JinniButton,
  a.JinniCircularSpeedDialAction.JinniButtonBase.JinniButton {
    padding: 0;
    &.outlined,
    &.text {
      background-color: white;
    }
    @include action-size;
  }
}
