.JinniColorBoxRgbInput {
  padding-top: 15px;

  .JinniNumberInput.JinniInputBase {
    position: relative;
    min-width: auto;
    width: 45px;

    &:not(.alpha) {
      &:not(:last-child) {
        border-right: none;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
      &:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }

    &::after {
      content: var(--label);
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 10px;
      font-weight: 500;
      color: var(--jinni-color-gray-600);
    }

    .JinniInputBaseContent {
      padding-left: 5px;
      padding-right: 0px;
    }
  }
}
