@mixin order($content-order, $separator-order, $opposite-content-order) {
  .JinniTimelineContent,
  &::before {
    order: $content-order;
  }
  .JinniTimelineSeparator {
    order: $separator-order;
  }
  .JinniTimelineOppositeContent,
  &::after {
    order: $opposite-content-order;
  }
}

@mixin timeline-alignment {
  &.before .JinniTimelineItem {
    @include order(1, 2, 3);
  }
  &.after .JinniTimelineItem {
    @include order(3, 2, 1);
  }
  &.alternate .JinniTimelineItem {
    &:nth-child(odd) {
      @include order(3, 2, 1);
    }
    &:nth-child(even) {
      @include order(1, 2, 3);
    }
  }
  &.alternate-reverse .JinniTimelineItem {
    &:nth-child(odd) {
      @include order(1, 2, 3);
    }
    &:nth-child(even) {
      @include order(3, 2, 1);
    }
  }
}

@mixin text-alignment {
  &.vertical {
    &.before .JinniTimelineItem {
      .JinniTimelineContent {
        text-align: right;
      }
    }
    &.after .JinniTimelineItem {
      .JinniTimelineOppositeContent {
        text-align: right;
      }
    }
    &.alternate .JinniTimelineItem {
      &:nth-child(even) .JinniTimelineContent {
        text-align: right;
      }
      &:nth-child(odd) .JinniTimelineOppositeContent {
        text-align: right;
      }
    }
    &.alternate-reverse .JinniTimelineItem {
      &:nth-child(odd) .JinniTimelineContent {
        text-align: right;
      }
      &:nth-child(even) .JinniTimelineOppositeContent {
        text-align: right;
      }
    }
  }
}

@mixin last-connector {
  &:not(.showLastConnector) {
    &:not(.reverse) {
      .JinniTimelineItem:last-child .JinniTimelineConnector {
        visibility: hidden;
      }
    }
    &.reverse {
      .JinniTimelineItem:first-child .JinniTimelineConnector {
        visibility: hidden;
      }
    }
  }
}

.JinniTimeline {
  display: flex;
  margin: 0;
  padding: 0;
  @include timeline-alignment;
  @include text-alignment;
  @include last-connector;

  &.vertical {
    flex-direction: column;
    &.reverse {
      flex-direction: column-reverse;
    }
  }
  &.horizontal {
    flex-direction: row;
    &.reverse {
      flex-direction: row-reverse;
    }
  }
}
