.JinniListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;

  &.dense {
    padding: 4px 16px;
    font-size: 14px;
  }
}
