@mixin invisible {
  &.invisible {
    background-color: transparent;
  }
}

.JinniBackdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--jinni-z-index-backdrop);
  background-color: rgba(0, 0, 0, 0.7);
  @include invisible;
}
