.JinniColorBoxFormatSelect.JinniSelect.JinniInputBase {
  min-width: auto;

  .JinniInputBaseContent {
    padding-left: 3px;
    padding-right: 0px;
  }

  .JinniInputBaseAdornment.end {
    padding-right: 0px;
  }
}
