@mixin overlay-effect {
  &:not(.disabled):hover,
  &:not(.disabled):focus-within {
    .JinniSwitchThumbWrapper {
      background-image: linear-gradient(var(--overlay-color));
    }
  }
}

@mixin thumb-color {
  background-color: white;
  &.isChecked:not(.disabled) {
    background-color: var(--checked-color);
  }
  &.disabled:not(.isChecked) {
    background-color: var(--jinni-color-gray-100);
  }
  &.isChecked.disabled {
    background-color: var(--checked-disabled-color);
  }
}

@mixin track-color {
  background-color: var(--jinni-color-gray-600);
  &.isChecked:not(.disabled) {
    background-color: var(--checked-color);
  }
  &.disabled:not(.isChecked) {
    background-color: var(--jinni-color-gray-400);
  }
  &.isChecked.disabled {
    background-color: var(--checked-disabled-color);
  }
}

@mixin switch-size {
  &.sm {
    padding: 10px;
    width: 46px;
    height: 30px;
  }
  &.md {
    padding: 12px;
    width: 58px;
    height: 38px;
  }
  &.lg {
    padding: 14px;
    width: 70px;
    height: 46px;
  }
  &:not(.sm, .md, .lg) {
    padding: calc(var(--switch-size) * 0.3);
    width: calc(var(--switch-size) * 1.5);
    height: var(--switch-size);
  }
}

@mixin thumb-wrapper-size {
  height: 100%;
  aspect-ratio: 1/1;
  &.sm {
    padding: 7px;
  }
  &.md {
    padding: 9px;
  }
  &.lg {
    padding: 11px;
  }
  &:not(.sm, .md, .lg) {
    padding: calc(var(--switch-size) * 0.3 - 3px);
  }
}

@mixin translate-by-size {
  &.isChecked {
    &.sm {
      transform: translateX(16px);
    }
    &.md {
      transform: translateX(20px);
    }
    &.lg {
      transform: translateX(24px);
    }
    &:not(.sm, .md, .lg) {
      transform: translateX(calc(var(--switch-size) * 0.5));
    }
  }
}

.JinniSwitch {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  @include switch-size;
  @include overlay-effect;

  .JinniSwitchTrack {
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    opacity: 0.5;
    @include track-color;
  }

  .JinniSwitchThumbWrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 1000px;
    transition: transform var(--jinni-duration-short4)
      var(--jinni-easing-emphasized-accelerate);
    @include thumb-wrapper-size;
    @include translate-by-size;

    .JinniSwitchThumb {
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      box-shadow: var(--jinni-box-shadow-3);
      @include thumb-color;
    }
  }

  .JinniSwitchInput {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    &:disabled {
      cursor: default;
    }
  }
}
