@use '@/styles/animation';

.JinniRippleContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  border-radius: inherit;

  .JinniRipple {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    animation: ripple 0.5s ease-in;

    &.white {
      background-image: var(--jinni-white-overlay-7);
    }
    &.black {
      background-image: var(--jinni-black-overlay-5);
    }
  }
}
