@use '@/styles/mixins' as mixins;

@mixin show-clear-button {
  &.clearable {
    &:hover,
    &:focus-within,
    &.open {
      .JinniInputBaseContent .JinniButtonBase.clear {
        visibility: visible;
      }
    }
  }
}

@mixin animate-arrow-button {
  &.open {
    .JinniInputBaseAdornment.end .JinniButtonBase.show-menu {
      rotate: 180deg;
    }
  }
}

@mixin clear-button-style-by-size {
  &.sm {
    .JinniButtonBase.clear {
      margin-right: -6px;
    }
  }
  &.md {
    .JinniButtonBase.clear {
      margin-right: -7px;
    }
  }
  &.sm {
    .JinniButtonBase.clear {
      margin-right: -8px;
    }
  }
}

.JinniAutocomplete.JinniInputBase {
  width: 300px;
  @include show-clear-button;
  @include animate-arrow-button;
  @include clear-button-style-by-size;

  &:not(.disabled):hover {
    cursor: pointer;
  }

  .JinniInputBaseContent {
    position: relative;
    display: inline-flex;
    gap: 5px;
    align-items: center;

    .JinniAutocompleteContent {
      flex: 1;
      display: inline-flex;
      flex-wrap: wrap;
      gap: 5px;
      width: 100%;

      input.JinniAutocompleteInput {
        flex: 1;
        text-overflow: ellipsis;
        min-height: initial;
      }

      .JinniChip {
        display: inline-flex;
        max-width: 100%;
        box-sizing: border-box;
        .JinniChipLabel {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    .JinniButtonBase.clear {
      display: inline-flex;
      padding: 3px;
      border-radius: 50%;
      visibility: hidden;
    }

    input[aria-hidden='true'] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none;
    }
  }

  .JinniInputBaseAdornment.end {
    .JinniButtonBase.show-menu {
      display: inline-flex;
      padding: 3px;
      border-radius: 50%;
    }
  }
}

.JinniAutocompleteMenu {
  margin-top: 1px;
  width: 300px;

  .JinniMenuList {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;

    .JinniAutocompleteOption + .JinniListItem.no-options {
      display: none;
      color: var(--jinni-color-gray-400);
    }
  }
}
