.tabs-custom.JinniTabs {
  box-sizing: border-box;
  border-bottom: 1px solid var(--jinni-color-gray-300);

  .JinniTabListContainer {
    .JinniTabList {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
