$scrollbar-width: 15px;

.JinniVerticalMonthRangeCalendars {
  position: relative;
  width: calc(300px + $scrollbar-width);
  height: 260px;
  overflow-y: auto;

  .JinniMonthRangeCalendarContainer {
    .JinniMonthRangeCalendarHeader {
      padding: 6px 12px;
      color: var(--jinni-color-gray-500);
      font-weight: 600;
      box-sizing: border-box;
      border-top: 1px solid var(--jinni-color-gray-200);
    }
  }
}
