$offset: 10px;

@mixin position {
  .JinniCarouselDots,
  .JinniCarouselFraction,
  .JinniCarouselPrevButton,
  .JinniCarouselNextButton {
    &.top-start {
      top: $offset;
      left: $offset;
    }
    &.top-center {
      top: $offset;
      left: 50%;
      transform: translate(-50%, 0);
    }
    &.top-end {
      top: $offset;
      right: $offset;
    }
    &.left-center {
      top: 50%;
      left: $offset;
      transform: translate(0, -50%);
    }
    &.right-center {
      top: 50%;
      right: $offset;
      transform: translate(0, -50%);
    }
    &.bottom-start {
      bottom: $offset;
      left: $offset;
    }
    &.bottom-center {
      bottom: $offset;
      left: 50%;
      transform: translate(-50%, 0);
    }
    &.bottom-end {
      bottom: $offset;
      right: $offset;
    }
  }
  .JinniCarouselProgress {
    &.top {
      top: 0;
      left: 0;
    }
    &.bottom {
      bottom: 0;
      left: 0;
    }
    &.left {
      top: 0;
      left: 0;
    }
    &.right {
      top: 0;
      right: 0;
    }
  }
}

@mixin orientation {
  &.horizontal {
    .JinniCarouselContent {
      flex-direction: row;
      width: calc(100% * var(--carousel-item-count));
      height: 100%;
      transform: translateX(
        calc(-100% * var(--carousel-value) / var(--carousel-item-count))
      );
      .JinniCarouselItem {
        width: calc(100% / var(--carousel-item-count));
        height: 100%;
      }
    }
  }
  &.vertical {
    .JinniCarouselContent {
      flex-direction: column;
      width: 100%;
      height: calc(100% * var(--carousel-item-count));
      transform: translateY(
        calc(-100% * var(--carousel-value) / var(--carousel-item-count))
      );
      .JinniCarouselItem {
        width: 100%;
        height: calc(100% / var(--carousel-item-count));
      }
    }
  }
}

.JinniCarousel {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  @include position;
  @include orientation;

  .JinniCarouselContent {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    transition: transform var(--jinni-duration-medium1)
      var(--jinni-easing-emphasized);

    .JinniCarouselItem {
      user-select: none;
    }
  }

  .JinniCarouselDots {
    position: absolute;
  }

  .JinniCarouselFraction {
    position: absolute;
  }

  .JinniCarouselPrevButton {
    position: absolute;
    display: inline-flex;
    color: var(--jinni-color-gray-800);
    svg path {
      fill: currentColor;
    }
  }

  .JinniCarouselNextButton {
    position: absolute;
    display: inline-flex;
    color: var(--jinni-color-gray-800);
    svg path {
      fill: currentColor;
    }
  }

  .JinniCarouselProgress {
    position: absolute;
  }
}
