.left-time-change {
  .JinniCircularProgress {
    .JinniCircularProgress-progress.determinate circle {
      transition: none;
    }
  }
}

.coverflow-effect.JinniCarousel {
  .JinniCarouselContainer {
    perspective: 1000px;

    .JinniCarouselContent {
      transform-style: preserve-3d;

      .JinniCarouselItem {
        position: relative;
        transform: translateZ(var(--translate-z)) rotateY(var(--rotate-y));

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          pointer-events: none;
          z-index: 1;
        }
        &::before {
          background-image: linear-gradient(270deg, #00000080, #0000);
          opacity: var(--shadow-rtl-opacity);
        }
        &::after {
          background-image: linear-gradient(90deg, #00000080, #0000);
          opacity: var(--shadow-ltr-opacity);
        }
      }
    }
  }
}
