@use '@/styles/variables' as var;

$biased-percent: 10%;

@mixin horizontal-thickness {
  border-top-width: var(--thickness);
}

@mixin vertical-thickness {
  border-left-width: var(--thickness);
}

@mixin length-by-alignment($base: width) {
  &.start {
    &::before {
      #{$base}: $biased-percent;
    }
    &::after {
      flex: 1;
    }
  }
  &.center {
    &::before,
    &::after {
      flex: 1;
    }
  }
  &.end {
    &::before {
      flex: 1;
    }
    &::after {
      #{$base}: $biased-percent;
    }
  }
}

.JinniDivider {
  box-sizing: border-box;
  &.horizontal {
    width: auto;
  }
  &.vertical {
    height: auto;
  }

  &:not(.hasContent) {
    border-width: 0;
    border-style: var(--border-style);
    border-color: var(--color);
    &.horizontal {
      @include horizontal-thickness;
    }
    &.vertical {
      @include vertical-thickness;
    }
  }

  &.hasContent {
    display: flex;
    align-items: center;

    &::before,
    &::after {
      content: '';
      border-width: 0;
      border-style: var(--border-style);
      border-color: var(--color);
    }

    &.horizontal {
      flex-direction: row;
      &::before,
      &::after {
        @include horizontal-thickness;
      }
      @include length-by-alignment(width);
    }
    &.vertical {
      flex-direction: column;
      &::before,
      &::after {
        @include vertical-thickness;
      }
      @include length-by-alignment(height);
    }
  }

  .JinniDividerContent {
    padding: 0 10px;
    color: var(--color);
    font-size: 14px;
    font-weight: var.$font-weight-regular;
  }
}
