@mixin icon-color {
  color: var(--jinni-color-gray-600);

  &.isChecked,
  &.indeterminate {
    color: var(--checked-color);
  }
  &.disabled {
    color: var(--jinni-color-gray-400);
  }

  svg path {
    fill: currentColor;
  }
}

@mixin icon-size {
  &.sm svg {
    width: 20px;
    height: 20px;
  }
  &.md svg {
    width: 24px;
    height: 24px;
  }
  &.lg svg {
    width: 28px;
    height: 28px;
  }
  &:not(.sm, .md, .lg) svg {
    width: var(--icon-size);
    height: var(--icon-size);
  }
}

@mixin overlay-effect {
  &:not(.disabled):hover {
    background-image: linear-gradient(var(--overlay-color));
  }
}

.JinniCheckbox {
  position: relative;
  display: inline-flex;
  padding: 8px;
  width: max-content;
  height: max-content;
  border-radius: 50%;
  @include icon-color;
  @include icon-size;
  @include overlay-effect;

  .JinniCheckboxInput {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    &:disabled {
      cursor: default;
    }
  }
}
