.JinniDateTimeRangePicker {
  &:not(.fullWidth) {
    display: inline-block;
  }
  .JinniDateTimeRangePickerOpenButton {
    display: inline-flex;
    padding: 5px;
    border-radius: 50%;

    &.readOnly,
    &.disabled {
      cursor: default;
    }
  }
}

.JinniDateTimeRangePickerPopover.JinniPopover {
  .JinniPopoverContent.JinniBox {
    padding: 0;
    margin-top: 1px;

    .JinniDateTimeRangePickerPopoverContainer {
      height: calc(284px + 40px + 16px * 2 + 1px);

      .JinniDateRangeCalendar {
        padding: 16px 0;
        border-bottom: 1px solid var(--jinni-color-gray-300);

        &.disableHoverRangeEffect {
          .JinniHoverEffect {
            border: none;
          }
        }
      }

      .JinniPresetDigitalClock {
        .JinniMenuList {
          height: 100%;
        }
      }

      .JinniManualDigitalClock {
        .JinniUnitList {
          .JinniMenuList {
            height: 100%;
          }
        }
      }
    }

    .JinniDateTimeRangePickerButtons {
      display: flex;
      justify-content: end;
      column-gap: 10px;
      padding: 10px;
    }
  }
}
