@mixin orientation {
  &.horizontal {
    flex-direction: row;
    width: 100%;
  }
  &.vertical {
    flex-direction: column;
    height: 100%;
  }
}

.JinniStepper {
  display: flex;
  @include orientation;
}
