@use '@/styles/animation';

.JinniRippleTarget {
  display: flex;
  position: relative;
  overflow: hidden;

  .JinniRipple {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 50%;
    pointer-events: none;
    animation: ripple 1.3s ease-in;

    &.white {
      background-color: rgba(white, 0.2);
    }
    &.black {
      background-color: rgba(black, 0.2);
    }
  }
}
