.JinniButtonBase.JinniYear {
  width: 76px;
  height: 36px;
  border-radius: 9999px;
  box-sizing: border-box;
  font-size: 16px;

  &.marked {
    border: 1px solid var(--jinni-color-gray-400);
  }
  &.selected {
    background-color: var(--color);
    color: white;
  }
}
