@use '@/styles/mixins' as mixins;

.JinniTree {
  margin: 0;
  padding: 0;
  list-style: none;
}

.JinniTreeItem {
  gap: 8px;

  .JinniTreeItemIconContainer {
    display: inline-flex;
    width: 16px;
  }

  .JinniTreeItemContents {
    flex: 1;
    @include mixins.no-highlight;
  }
}
