@mixin offset {
  &.top,
  &.top-start,
  &.top-end {
    margin-bottom: var(--offset);
  }
  &.bottom,
  &.bottom-start,
  &.bottom-end {
    margin-top: var(--offset);
  }
  &.left,
  &.left-start,
  &.left-end {
    margin-right: var(--offset);
  }
  &.right,
  &.right-start,
  &.right-end {
    margin-left: var(--offset);
  }
}

@mixin arrow-position {
  &.top-start::before {
    bottom: 0;
    left: 0;
    transform: translate(100%, 50%) rotate(45deg);
  }
  &.top::before {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
  }
  &.top-end::before {
    bottom: 0;
    right: 0;
    transform: translate(-100%, 50%) rotate(45deg);
  }
  &.bottom-start::before {
    top: 0;
    left: 0;
    transform: translate(100%, -50%) rotate(45deg);
  }
  &.bottom::before {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &.bottom-end::before {
    top: 0;
    right: 0;
    transform: translate(-100%, -50%) rotate(45deg);
  }
  &.left-start::before {
    top: 0;
    right: 0;
    transform: translate(50%, 100%) rotate(45deg);
  }
  &.left::before {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%) rotate(45deg);
  }
  &.left-end::before {
    bottom: 0;
    right: 0;
    transform: translate(50%, -100%) rotate(45deg);
  }
  &.right-start::before {
    top: 0;
    left: 0;
    transform: translate(-50%, 100%) rotate(45deg);
  }
  &.right::before {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &.right-end::before {
    bottom: 0;
    left: 0;
    transform: translate(-50%, -100%) rotate(45deg);
  }
}

.JinniTooltip {
  .JinniTooltipContent {
    position: relative;
    padding: 4px 8px;
    background-color: var(--jinni-color-gray-500);
    color: white;
    font-size: 12px;
    font-weight: var(--jinni-font-weight-medium);

    &::before {
      content: '';
      position: absolute;
      width: 7px;
      height: 7px;
      background-color: inherit;
      visibility: hidden;
    }
    &.arrow::before {
      visibility: visible;
    }

    @include offset;
    @include arrow-position;
  }
}
