.JinniButtonBase {
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: var(--jinni-color-on-surface);
  cursor: pointer;

  &:not(.disableOverlay):hover {
    background-image: var(--hover-overlay);
  }

  &.disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
    user-select: none;
  }
}
